// ===================== FONTS =======================

@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  "System Default", sans-serif;

// ===================== COLORS =======================

$black: #000000;
$white: #ffffff;

$bg-color-1: #fefefe;

$lightgray: #fafbfc;
$gray: #616161;

$color-1: $gray;
$color-2: $lightgray;

$border-color: #ebebeb;
$border-color-2: lightgray;

// ====================================================

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none !important;
  scrollbar-color: unset !important;
}

*::selection {
  background: black;
  color: white;
}

body {
  background: linear-gradient($white, $color-2);
  font-family: $font-1;

  @media (min-width: 1251px) {
    @include verticalCenter;
  }
}

li {
  list-style-type: none;
}

.hidden {
  opacity: 0;
}

.visible-speed-1 {
  transition: opacity 1s ease-in-out;
}

.center-child {
  @include verticalCenter;
}
