@use "./settings";
@use "./components/navigation";
@use "./pages/pages";
@use "./pages/home";
@use "./pages/lab";
@use "./pages/projects";
@use "./pages/error404";
@use "./pages/about";
@use "./components/project";
@use "./components/tag";
@use "./components/footer";
@use "./components/buttons";
