.button {
  user-select: none;
  transition: 0.2s;
  cursor: pointer;
}

.github-button:hover,
.tool-button:hover,
.game-button:hover,
.default-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

// ----------------------- GITHUB BUTTON ---------------------------------

.github-button {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  width: fit-content;
}

// ----------------------- STRONG BUTTON ---------------------------------

.strong-button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 45px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  // width: 100%;
  will-change: transform;
}

.strong-button:disabled {
  pointer-events: none;
}

.strong-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.strong-button:active {
  box-shadow: none;
  transform: translateY(0);
}

// ----------------------- TOOL BUTTON ---------------------------------

/* CSS */
.tool-button {
  background: #00b3ff;
  border-radius: 12px;
  color: #000;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  width: fit-content;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  text-decoration: none;

  svg {
    margin: 0 10px 0 0;
    transform: translate(-5%, -5%);
  }
}

.tool-button:hover {
  outline: 0;
  background: #02a7ed;
}

// ----------------------- GAME BUTTON ---------------------------------

/* CSS */
.game-button {
  background: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  width: fit-content;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;

  svg {
    margin: 0 10px 0 0;
    transform: translate(-5%, -5%);
  }
}

.game-button:hover {
  outline: 0;
  background: #f4e603;
}

// .game-button:disabled {
//   filter: saturate(0.2) opacity(0.5);
//   -webkit-filter: saturate(0.2) opacity(0.5);
//   cursor: not-allowed;
// }

// ----------------------- DEFAULT BUTTON ---------------------------------

.default-button {
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  border: solid 1px black;
  border-radius: 15px;
  color: black;
  background: white;
  transition: 0.4s;
  font-weight: bold;
}

.default-button:hover {
  color: white;
  background: black;
}
