@use "../settings" as *;

.hiddenNav {
  top: -130px !important;
  // transform: translateY(-90px);
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: auto;
  background: $white;
  border-bottom: solid 1px $border-color;
  position: fixed;
  top: 0;
  transition: 0.3s;
  z-index: 50;
  width: 100%;

  @media (min-width: calc($size-1 + 1px)) {
    max-width: 1230px;
  }

  @media (max-width: $size-3) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navigation-img {
    padding: 10px;
    margin: 0 0 0 8px;

    @media (max-width: $size-3) {
      display: none;
      margin: 0;
    }
  }

  ul {
    display: flex;
    height: 64px;
    gap: 40px;
    padding: 0px 20px 0px 0px;
    @media (max-width: $size-3) {
      padding: 0;
      margin: 0;
      min-height: 64px;
      @include centerChild;
      align-content: center;
    }

    .nav-active li {
      color: black;
      text-decoration: underline;
    }

    a {
      text-decoration: none;
      align-content: center;

      li {
        color: $color-1;
      }
    }

    a:hover {
      text-decoration: underline $color-1;
    }
  }
}
