@use "../settings" as *;

.mainProjectList {
  margin: 127px 0 0;
}

.mainProjectList,
.projects.bigProjectList {
  .project {
    border: solid 1px $border-color;
    margin: 50px;
    transition: 0.3s;
    &.labProject {
      background: white !important;
    }

    @media (min-width: 1251px) {
      height: 630px;
      padding: 50px 100px 50px 80px;
      border-radius: 50px;
    }

    @media (max-width: $size-1) {
      padding: 20px 30px;
      border-radius: 20px;
      text-align: center;
    }

    .project-container {
      @media (min-width: 1251px) {
        display: grid;
        grid-template-columns: 3fr 2fr;
        height: 450px;
      }

      // a {
      //   color: black;
      // }

      .left {
        @media (max-width: $size-1) {
          display: flex;
          flex-direction: column;
          height: fit-content;
        }

        h2 {
          font-weight: 600;
          margin: 0 0 30px 0;

          @media (min-width: 1251px) {
            font-size: 3rem;
          }

          @media (max-width: $size-1) {
            font-size: 2rem;
          }
        }

        .presentation {
          height: 100%;

          @media (min-width: 1251px) {
            padding-bottom: 60px;
            display: grid;
            grid-template-rows: 2fr 4fr 2fr;
          }

          @media (max-width: $size-1) {
            padding-bottom: 20px;
            gap: 20px;
            display: flex;
            flex-direction: column;
          }

          .text {
            @media (min-width: 1251px) {
              margin: 0 60px 0 5px;
            }
          }

          .button-list {
            display: flex;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;

            @media (min-width: 1251px) {
              padding: 0 0 0 30px;
            }

            @media (max-width: $size-1) {
              justify-content: center;
            }
          }
        }
      }

      .right {
        @media (max-width: $size-1) {
          display: none;
        }

        .project-media {
          width: 450px;
          height: 450px;
          overflow: hidden;
          border: solid 2px lightgray;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s;

          .media {
            max-width: 100%;
            max-height: 100%;
            pointer-events: none;
          }
        }

        .project-media:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .project:not(:disabled):hover,
  .project:not(:disabled):focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3), 0 10px 15px 0 rgba(0, 0, 0, 0.3);
  }
}

// ///////////////////////////////////////////////////////////////////////////

.projects.smallProjectList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 10%;
  border: solid 1px black;
  gap: 10px;
  background: black;

  @media (max-width: $size-1) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $size-2) {
    grid-template-columns: 1fr;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white;
    height: 300px;
    justify-content: center;
    transition: 0.7s;

    &:hover {
      transform: scale(1.1);
      border-radius: 10px;
      z-index: 15;
      box-shadow: 0 0 0 2px rgb(0 0 0 / 89%), 0 10px 15px 0 rgb(0 0 0 / 58%);
    }

    .project-container {
      background: #0000005e;
      padding: 30px;
      border-radius: 25px;
      backdrop-filter: blur(10px);
      min-width: 245px;

      h2 {
        font-size: 1.5rem;
      }
      .tag {
        display: none;
        color: black;
      }
      .text {
        display: none;
      }

      .button-list {
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
      }
    }
  }
}
