@use "../settings" as *;

.project {
  border: solid 1px $border-color;
  margin: 50px;
  padding: 50px 100px;
  border-radius: 50px;
  height: 630px;
  transition: 0.3s;

  h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0 30px 0;
  }

  .project-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 450px;

    .left {
      display: grid;
      grid-template-rows: 2fr 4fr 2fr;
      margin-bottom: 60px;

      .button-list {
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }
  }
}

.project:not(:disabled):hover,
.project:not(:disabled):focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4), 0 10px 15px 0 rgba(0, 0, 0, 0.3);
}
