@use "../settings" as *;

.project {
  border: solid 1px $border-color;
  margin: 50px;
  padding: 50px 100px;
  border-radius: 50px;
  height: 630px;
  transition: 0.3s;

  .project-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 450px;

    a {
      color: black;
    }

    .left {
      h2 {
        font-size: 3rem;
        font-weight: 600;
        margin: 0 0 30px 0;
      }

      .presentation {
        display: grid;
        grid-template-rows: 2fr 4fr 2fr;
        padding-bottom: 60px;
        height: 100%;

        .text {
          margin: 0 60px 0 5px;
        }

        .button-list {
          display: flex;
          align-items: center;
          gap: 30px;
          padding: 0 0 0 30px;
        }
      }
    }

    .right {
      .project-media {
        width: 450px;
        height: 450px;
        overflow: hidden;
        border: solid 2px lightgray;
        display: flex;
        justify-content: center;
        align-items: center;

        .media {
          max-width: 100%;
          max-height: 100%;
          pointer-events: none;
        }
      }
    }
  }
}

.project:not(:disabled):hover,
.project:not(:disabled):focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3), 0 10px 15px 0 rgba(0, 0, 0, 0.3);
}
