@use "../settings" as *;

.newVisibility {
  animation: workVisibilityAnim 0.7s linear forwards;
}

@keyframes workVisibilityAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lastVisibility {
  animation: lastVisibilityAnim 0.7s linear forwards;
}

@keyframes lastVisibilityAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.myBackground {
  @include centerChild;
  flex-direction: column;
  padding: 110px 80px 40px;
  position: relative;
  border-bottom: dashed 1px $border-color-2;
  background: $white;

  @media (max-width: $size-3) {
    padding: 110px 25px 40px;
  }

  h2 {
    padding: 0 0 35px;
    position: absolute;
    top: 45px;
    left: 60px;

    @media (max-width: $size-2) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .backgroundContainer {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    background: $white;
    border-radius: 25px;
    width: 800px;
    height: 380px;
    position: relative;
    border: solid 1px $border-color;

    @media (max-width: $size-2) {
      width: 100%;
    }

    .backgroundItem {
      @media (max-width: $size-2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        padding: 0 10%;
      }
      .textContainer {
        @media (min-width: 811px) {
          position: absolute;
          top: 30px;
          left: 60px;
          width: 430px;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        @media (max-width: $size-2) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        h3 {
          font-size: 1.8rem;
          @media (max-width: $size-2) {
            text-align: center;
          }
        }
        h4 {
          font-size: 1.3rem;
        }
        p {
          text-align: justify;
        }
      }

      .imgContainer {
        @media (min-width: 811px) {
          position: absolute;
          right: 60px;
          top: 20px;
          height: 300px;
          display: flex;
          align-items: center;
        }

        img {
          width: 160px;

          @media (max-width: 811px) {
            width: 60px;
          }
        }
      }
    }

    ul {
      position: absolute;
      left: 215px;
      bottom: 7px;
      width: 560px;
      height: 50px;
      display: flex;
      gap: 20px;
      flex-direction: row;

      @media (max-width: $size-1) {
        display: none;
      }

      li {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        background: #f3f3f3;
        // color: rgb(23, 23, 23);
        color: #595959;

        padding: 0px 15px;
        border-radius: 10px;
        display: flex;
        align-items: center;
      }
    }
  }

  .topBackground {
    position: absolute;
    inset: 0px;
    z-index: 1;
    background: url(./office.jpg) center / cover;
    border-radius: 12px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    width: 95%;
    left: 50%;
    top: 150px;
    height: 263px;
    box-shadow: 0px 3px 0 0px rgb(0 0 0 / 25%);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 100%
      );
    }
  }
  .portrait {
    position: absolute;
    border-radius: 25px;
    border: solid 8px black;
    overflow: hidden;
    left: 30px;
    bottom: 30px;
    z-index: 2;
    border-radius: 1000px;
    width: 160px;
    height: 160px;
    margin: 0;

    @media (max-width: $size-1) {
      left: 50%;
      transform: translate(-50%, -2%);
      margin: 0 auto;
    }

    // @media (max-width: 600px) {
    //   display: none;
    // }

    // @media (min-width: 1251px) {
    //   margin: 25px 0;
    // }

    // @media (max-width: $size-1) {
    //   margin: auto;
    // }

    img {
      width: 145px;
      position: relative;
      top: -3px;
    }
  }

  .backgroundList {
    padding: 40px 0 20px;
    max-width: 800px;
    width: 100%;
    ul {
      display: flex;
      flex-direction: column;
      padding: 0 0 40px;
      margin: 0;
      gap: 20px;

      li {
        cursor: pointer;
        display: flex;
        background: #f3f3f3;
        padding: 15px 90px;
        border-radius: 10px;
        color: #595959;
        font-size: 1.2rem;
        justify-content: space-between;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.11) 0px 0.597144px 0.597144px -1px,
          rgba(0, 0, 0, 0.1) 0px 1.81088px 1.81088px -2px,
          rgba(0, 0, 0, 0.09) 0px 4.78699px 4.78699px -3px,
          rgba(0, 0, 0, 0.03) 0px 15px 15px -4px;

        &:hover {
          transform: scale(1.05);
        }

        @media (max-width: $size-3) {
          flex-direction: column;
          align-items: center;
          padding: 15px;
          font-size: 1rem;
        }

        div {
          width: fit-content;
        }
      }
    }
  }

  p {
    text-align: justify;

    @media (max-width: $size-3) {
      text-align: center;
    }
  }
}
