@use "../settings" as *;

.contactSection {
  margin: 30px 5%;

  @media (max-width: $size-2) {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .formContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "name email" "subject subject" "text text";
      gap: 25px;
      margin: 0 0 25px;
      width: 80%;

      @media (max-width: $size-2) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "name"
          "email"
          "subject"
          "text";
      }

      div {
        display: flex;
        flex-direction: column;

        label {
          margin: 0 0 5px;
          font-size: 1.1rem;
        }

        input {
          padding: 10px 25px;
          border-radius: 10px;
          border: solid 1px $border-color-2;

          &#message {
            min-height: 250px;
          }
        }

        span {
          color: red;
          font-size: 0.9rem;
        }
      }
    }
  }
}
