@use "../settings" as *;

.page.home-page {
  background: #fafafa;
}

.home-presentation {
  align-items: center;
  background: $white;
  padding: 0 auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  border-bottom: dashed 1px $border-color-2;
  height: 100vh;

  @media (min-width: 1251px) {
    flex-direction: row;
  }

  @media (max-width: $size-1) {
    flex-direction: column;
    align-items: center;
  }

  .presentation-container {
    position: relative;

    & > div:nth-child(1) {
      @include centerChild;
      flex-direction: column;
    }
  }

  .presentation-container > h1::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    background: black;
    width: 80%;
    left: 40%;
    top: -60px;
    border-radius: 25px;

    @media (max-width: $size-3) {
      width: 93%;
      left: 50%;
      top: -30px;
    }
  }

  .presentation-container::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 100%;
    background: black;
    width: 4px;
    right: -40px;
    top: 43%;
    border-radius: 25px;

    @media (max-width: $size-3) {
      display: none;
    }
  }

  .left {
    z-index: 20;
    @include centerChild;

    @media (max-width: $size-1) {
      align-items: center;
    }

    h1 {
      position: relative;
      padding: 0 0 30px;
      font-size: 3em;

      @media (max-width: $size-3) {
        font-size: 2.5rem;
      }

      @media (max-width: $size-1) {
        text-align: center;
      }
    }

    p {
      font-size: 1.2rem;
      padding: 0 0 30px 0;

      @media (max-width: $size-3) {
        font-size: 0.8rem;
        max-width: 255px;
      }

      @media (max-width: $size-1) {
        text-align: center;
      }
    }

    .button-container {
      @media (max-width: $size-3) {
        @include centerChild;
      }
    }
  }
}

.toolListContainer {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  width: 100%;
  position: relative;
  gap: 25px;
  border-left: solid 1px $border-color;
  border-right: solid 1px $border-color;
  padding: 5px 0 10px;

  .toolList {
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 15px 0 0;
    animation: scroll 50s linear infinite;

    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }

    li {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      width: 150px;
      height: 185px;
      padding: 15px;
      border: solid 1px $border-color;
      border-radius: 25px;

      img {
        width: auto;
        max-height: 100px;
        max-width: 130px;
      }
    }
  }
}

// ///////////////////////////////

.bubble {
  position: absolute;
  border-radius: 1000px;
  // background: $border-color;
  z-index: 3;
  background: repeating-linear-gradient(
    /* angle des lignes */ 315deg,
    /* couleur des lignes */ #111 0.5px,
    /* épaisseur des lignes */ #111 0.5px,
    transparent 2px,
    /* espacement entre lignes */ transparent 6px
  );
  @media (max-width: $size-3) {
    display: none;
    opacity: 0;
  }
}

#bubble-1 {
  left: 80px;
  top: 150px;
  width: 100px;
  height: 100px;
  animation: visibility 4s linear forwards;
  // animation: visibility 50s linear forwards;
}

#bubble-2 {
  right: 120px;
  top: 700px;
  width: 150px;
  height: 150px;
  animation: visibility 6s linear forwards;
  // animation: visibility 100s linear forwards;

  @media (max-width: $size-2) {
    right: 50px;
  }
}

#bubble-3 {
  left: 280px;
  top: 700px;
  width: 50px;
  height: 50px;
  animation: visibility 8s linear forwards;
  // animation: visibility 150s linear forwards;
  @media (max-width: $size-2) {
    left: 70px;
  }
}

#bubble-4 {
  right: 60px;
  top: 250px;
  width: 80px;
  height: 80px;
  animation: visibility 10s linear forwards;
  // animation: visibility 200s linear forwards;
}

#last-visible-box {
  // background: $border-color;
  background: #f7f7f7;
  border: solid 1px $border-color-2;
  width: 760px;
  height: 450px;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 447px;
  transform: translate(-50%, -50%);
  z-index: 15;
  animation: visibility 12s linear forwards;
  // animation: visibility 450s linear forwards;

  @media (max-width: $size-3) {
    display: none;
  }
}

@keyframes visibility {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
