@use "../settings" as *;

.page {
  display: block;
  min-height: 100vh;
  background: $bg-color-1;
  border: solid 1px $border-color;
  border-bottom: 0;
  position: relative;

  @media (min-width: 1251px) {
    width: 1232px;
  }

  @media (max-width: 1250px) {
    width: 100%;
  }

  .page-container {
    margin: 100px auto;

    @media (min-width: 1251px) {
      padding: 0 40px;
      width: 70%;
    }

    @media (max-width: 1251px) {
      width: 85%;
    }
  }

  img.site-logo {
    width: 40px;
    height: auto;
  }
}
