@use "../settings" as *;

.mainProjectList {
  .item {
    .project {
      margin: 50px 50px 20px;
      cursor: pointer;
    }

    .title {
      @include centerChild;

      h2 {
        margin: 5px 0 60px;
        text-decoration: underline;
      }
    }
  }
}

#finatrac-project .project {
  // background: url(projects/project_finatrac.png) center / cover !important;
  height: 60vh;
  display: block;
  &:hover {
    transform: scale(1.02);
  }
}
